.show-modal {
  background-image: linear-gradient(
    rgba(36, 37, 30, 0.2),
    rgba(12, 12, 8, 0.4)
  ) !important;
}
.modal {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 1800;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: #3e91b9;
  opacity: 1;
  &__header {
    color: #e3ce7c;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  &__content {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 5px;
  }
}
.project {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &_title {
    color: #ffffffc7;
    font-family: 'Roboto', sans-serif;
  }
  &_img {
    // width: 100%;
    height: 100%;
  }
  &_links {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    .icon.prlink {
      color: #e6e1e1c2;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      &:hover {
        color: #ffffff;
      }
    }
  }
}
.img-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectList {
  width: 100%;
}

@media only screen and(max-width: 2000px) {
  .project {
    height: 100vh;
    .img-area.mobile {
      img {
        height: 90%;
      }
    }
  }
}

@media only screen and(max-width: 991px) {
  body {
    #root {
      .main-content {
        width: 100%;
        margin-left: 0;
      }
      // .project {
      //   height: 90vh;
      //   .img-area.mobile {
      //     width: 30% !important;
      //     height: 90% !important;
      //   }
      //   .img-area.web {
      //     width: 60% !important;
      //   }
      // }
    }
  }
}
@media only screen and(max-width: 768px) {
  body {
    #root {
      .project {
        height: 90vh;
      }
    }
  }
}

@media only screen and(max-width: 520px) {
  body {
    #root {
      .project {
        height: 100vh;
        .img-area.mobile {
          width: 40% !important;
        }
        .img-area.web {
          width: 100% !important;
          img {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 400px) {
  body {
    .info_details_header {
      font-size: 30px;
    }
    #root {
      .project {
        height: 80vh;
        .img-area.mobile {
          width: 50% !important;
          height: 80% !important;
        }
        .img-area.web {
          width: 95% !important;
          img {
            height: 80%;
          }
        }
      }
    }
  }
}
